<!DOCTYPE html>
<html>
<head>
    <title>Blog: practice</title>
</head>
<body>
    <h1>This is the pages page</h1>
    <p>Let's try to see the list of posts:</p>
    <p>
        {% if text_list %}
        <ul>
            {% for post in text_list %}
            <li><a href="{% url 'page_detail' post.id %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts yet in the blog.</p>
        {% endif %}
    </p>
    <hr>
    <p><a href="{% url 'home' %}">Go back to the Home Page</a></p>
</body>
</html>
