{% extends 'base.html' %}
{% block content %}
    <hr>
    <h3>This is the detail from post {{ post.id }}</h3>
    {% if post %}
        <p>The title is: {{ post.title }}</p>
        <p>The text is: {{ post.text }}</p>
    {% endif %}
    <hr>
    <p>You can update this post by clicking here: </p>
    <a href="{% url 'page_update' post.id %}"><button type="button" class="btn btn-outline-warning">Update</button></a>
    <hr>
    <p>You can delete this post by clicking here: </p>
    <a href="{% url 'page_delete' post.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
    <hr>
    <p><a href="{% url 'pages' %}">Go back to Pages</a></p>
{% endblock %}