{% extends 'base.html' %}
{% block content %}
    <hr>
    <h3>This is the pages page</h1>
    <p>Let's try to see the list of posts:</p>
    <p>
        {% if text_list %}
        <ul>
            {% for post in text_list %}
            <div class="list-group">
                <a href="{% url 'page_detail' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{{ post.created_at }}</small>
                  </div>
                  <p class="mb-1">{{ post.text }}</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
            </div>
            <br>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts yet in the blog.</p>
        {% endif %}
    </p>
    <hr>
    <p>You can create a new post clicking here: </p>
    <a href="{% url 'page_create' %}"><button type="button" class="btn btn-outline-success">Create</button></a>
    <hr>
    <p><a href="{% url 'home' %}">Go back to the Home Page</a></p>
{% endblock %}