{% extends 'base.html' %}
{% block content %}
    <h3>This is the delete page</h3>
    <hr>
    <p>Are you sure you want to delete the post: {{ delete_post.title }}?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, delete." class="btn btn-outline-danger"/>
        <hr>
        <p>To cancel, please click in the button: </p>
        <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-warning">Cancel</button></a>
    </form>
{% endblock %}